<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save any kind of movie!</h1>
    <p>Classic</p>
  </div>
</div>
<%# Test image %>
<%= cl_image_tag("mwdvzax6fflofh8mbfn5",
      width: 400, height: 300, crop: :fill) %>

<div class="container p-3">
  <div class="d-flex justify-content-between mb-3">
    <h2>My Lists</h2>
    <%= link_to "Create New List", new_list_path, class: "btn btn-success" %>
  </div>

  <%= render 'card', collection: @lists %>
</div>
